img {
    width: 150px; /* You can set the dimensions to whatever you want */
    height: 150px;
    object-fit: cover;
}

body {
    background: url("https://wallpaperplay.com/walls/full/0/2/d/214910.jpg") no-repeat center center fixed;
    
  }

.card {
  background: #92dcf9;
  opacity: 0.6;
  font-weight: 900;
  color: black;
}