img {
    width: 150px; /* You can set the dimensions to whatever you want */
    height: 150px;
    object-fit: cover;
}

body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgilLWnhYcxH8tYFzc1PP24NyGk6rVuRoTohyS9Ds4E95ibXvMfA") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }

  